\documentclass[10pt,a4paper]{article}
% =========================================================
% LAYOUT SENAI CETIQT (template Memorial_Template_Final) + requisitos do corpo da memória de cálculo
% =========================================================
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}
\IfFileExists{brazil.ldf}{\usepackage[brazil]{babel}}{%
  \usepackage[english]{babel}%
  \addto\captionsenglish{\renewcommand{\tablename}{Tabela}\renewcommand{\figurename}{Figura}%
  \renewcommand{\contentsname}{Sumário}\renewcommand{\listtablename}{Lista de Tabelas}%
  \renewcommand{\listfigurename}{Lista de Figuras}\renewcommand{\refname}{Referências}%
  \renewcommand{\appendixname}{Apêndice}}}
\usepackage{geometry}
\usepackage{fancyhdr}
\usepackage{tikz}
\usetikzlibrary{arrows.meta,positioning,calc,shapes.geometric}
\usepackage{tabularx}
\usepackage{array}
\usepackage{multirow}
\usepackage{xcolor}
\usepackage{graphicx}
\usepackage{lastpage}
\usepackage{amsmath,amssymb}
\usepackage[per-mode=symbol]{siunitx}
\sisetup{output-decimal-marker={,},group-separator={.}}
\usepackage{booktabs,longtable,makecell}
\usepackage{pdflscape}
\usepackage{titlesec}
\usepackage{float}
\usepackage{caption}
\captionsetup{font=small,labelfont=bf}
\usepackage[hidelinks]{hyperref}
% colunas: C e M do template (cabeçalhos); L{} e R{} com largura, do corpo da memória de cálculo
\newcolumntype{C}{>{\centering\arraybackslash}X}
\newcolumntype{M}[1]{>{\centering\arraybackslash}m{#1}}
\newcolumntype{L}[1]{>{\raggedright\arraybackslash}p{#1}}
\newcolumntype{R}[1]{>{\raggedleft\arraybackslash}p{#1}}
\setlength{\extrarowheight}{1.5pt}
\titleformat{\section}{\large\bfseries\uppercase}{\thesection.}{0.5em}{}
\titleformat{\subsection}{\normalfont\bfseries}{\thesubsection}{0.5em}{}
\titlespacing*{\section}{0pt}{12pt}{6pt}
\titlespacing*{\subsection}{0pt}{8pt}{4pt}
\numberwithin{equation}{section}
\numberwithin{table}{section}
\numberwithin{figure}{section}
\setlength{\LTcapwidth}{\textwidth}
\newcommand{\mdot}{\dot m}
\newcommand{\tipo}[1]{\textsf{\footnotesize #1}}
\newcommand{\AV}{\textcolor{red!70!black}{\tipo{A VALIDAR}}}

% =========================================================
% CONFIGURAÇÃO GEOMÉTRICA E PARÂMETROS DE DIMENSÃO
% =========================================================

\newlength{\BorderMarginLeft}
\newlength{\BorderMarginRight}
\newlength{\BorderMarginTop}
\newlength{\BorderMarginBottom}

% Margens da moldura externa em relação à folha A4 física (210mm x 297mm)
\setlength{\BorderMarginLeft}{10mm}
\setlength{\BorderMarginRight}{10mm}
\setlength{\BorderMarginTop}{10mm}
\setlength{\BorderMarginBottom}{10mm}

% Largura útil exata da moldura (210mm - 10mm - 10mm = 190mm)
\newlength{\FrameWidth}
\setlength{\FrameWidth}{\dimexpr\paperwidth - \BorderMarginLeft - \BorderMarginRight\relax}

% Configuração do Geometry para área útil do texto (páginas 2+)
\geometry{
    a4paper,
    portrait,
    left=15mm,
    right=15mm,
    top=\dimexpr\BorderMarginTop + 18.5mm\relax,      % Liberado para o cabeçalho
    bottom=\dimexpr\BorderMarginBottom + 6mm\relax, % Liberado para o rodapé
    headheight=5mm,
    headsep=4mm,
    footskip=10mm
}

% dados do documento (config/memorial_balanco.toml)
\newcommand{\DocTipo}{<< meta['senai']['tipo'] >>}
\newcommand{\DocNumero}{<< meta['numero'] >>}
\newcommand{\DocCliente}{<< meta['senai']['cliente'] >>}
\newcommand{\DocPrograma}{<< meta['senai']['programa'] >>}
\newcommand{\DocArea}{<< meta['senai']['area'] >>}
\newcommand{\DocTitulo}{<< meta['senai']['titulo'] >>}
\newcommand{\DocArquivo}{<< meta['numero'] >>.TEX}
\newcommand{\DocRevisao}{<< meta['revisao'] >>}
\newcommand{\DocDescricaoRevisao}{<< meta['descricao_revisao']|upper >>.}
\newcommand{\DocData}{<< meta['data'] >>}
\newcommand{\DocProjeto}{<< meta['senai']['projeto'] >>}
\newcommand{\DocExecucao}{<< meta['execucao']|upper >>}
\newcommand{\DocVerificacao}{<< meta['verificacao']|upper >>}
\newcommand{\DocAprovacao}{<< meta['aprovacao'] >>}
\newcommand{\LogoPath}{logo-senai.png}
\newlength{\LogoWidth}
\setlength{\LogoWidth}{30mm}

% =========================================================
% DESENHO DA MOLDURA FÍSICA EXTERNA (TIKZ OVERLAY)
% =========================================================

\newcommand{\DesenharMolduraExterna}{%
    \begin{tikzpicture}[remember picture, overlay]
        \draw[line width=0.8pt, black] 
            ([xshift=\BorderMarginLeft, yshift=-\BorderMarginTop] current page.north west) 
            rectangle 
            ([xshift=-\BorderMarginRight, yshift=\BorderMarginBottom] current page.south east);
    \end{tikzpicture}%
}

% =========================================================
% CABEÇALHO DA FOLHA DE ROSTO (CAPA)
% =========================================================

\newcommand{\CabecalhoRosto}{%
    \vspace{7.2pt}%
    \setlength{\parindent}{0pt}%
    \setlength{\extrarowheight}{1.5pt}%
    \fontsize{8}{9.5}\selectfont
    \hspace*{-5mm}%
    \begin{tabularx}{\FrameWidth}{|M{32mm}|X|M{52mm}|}
        \hline
        \multirow{4}{*}{%
            \IfFileExists{\LogoPath}
                {\includegraphics[width=28mm,keepaspectratio]{\LogoPath}}
                {\textbf{SENAI CETIQT}}%
        }
        & \textbf{\DocTipo}
        & \textbf{Nº:} \hfill \textbf{\DocNumero}
        \tabularnewline \cline{2-3}

        & \textbf{CLIENTE:} \hfill \DocCliente
        & \textbf{FOLHA:} \hfill \textbf{1} \textbf{de} \textbf{\pageref{LastPage}}
        \tabularnewline \cline{2-3}

        & \textbf{PROGRAMA:} \hfill \DocPrograma
        &
        \tabularnewline \cline{2-3}

        & \textbf{ÁREA:} \hfill \textbf{\DocArea}
        &
        \tabularnewline \hline

        \multicolumn{3}{|c|}{%
            \textbf{TÍTULO: \DocTitulo}%
        }
        \tabularnewline \hline

        \multirow{2}{*}{%
            \IfFileExists{\LogoPath}
                {\includegraphics[width=26mm,keepaspectratio]{\LogoPath}}
                {\textbf{SENAI CETIQT}}%
        }
        &
        &
        \tabularnewline \cline{2-3}

        &
        \textbf{ARQUIVO Nº:}
        &
        \centering \textbf{\DocArquivo} \arraybackslash
        \tabularnewline \hline
    \end{tabularx}%
}

% =========================================================
% CABEÇALHO DAS PÁGINAS SUBSEQUENTES (PÁGINAS 2+)
% =========================================================

\newcommand{\CabecalhoConteudo}{%
    \setlength{\parindent}{0pt}%
    \setlength{\tabcolsep}{9pt}%
    \setlength{\extrarowheight}{4pt}%
    \fontsize{7.5}{9}\selectfont
    \noindent
    \vspace*{45.5pt}%
    \hspace*{-5mm}%
    \begin{tabularx}{\FrameWidth}{|M{30mm}|X|M{52mm}|}
        \hline
        \multirow{3}{*}{%
            \IfFileExists{\LogoPath}
                {\includegraphics[width=26mm,keepaspectratio]{\LogoPath}}
                {\textbf{SENAI CETIQT}}%
        }
        & \textbf{\DocTipo}
        & \textbf{Nº:} \quad \textbf{\DocNumero}
          \hfill \textbf{REV.} \textbf{\DocRevisao}
        \tabularnewline \cline{2-3}

        & \textbf{PROGRAMA:} \hfill \DocPrograma
        & \textbf{FOLHA:} \hfill \textbf{\thepage}
          \textbf{de} \textbf{\pageref{LastPage}}
        \tabularnewline \cline{2-3}

        & \textbf{TÍTULO:} \hfill
          \textbf{\fontsize{7}{8}\selectfont \DocTitulo}
        & \hfill
          \IfFileExists{\LogoPath}
              {\includegraphics[width=18mm,keepaspectratio]{\LogoPath}}
              {\textbf{SENAI CETIQT}}
        \tabularnewline \hline
    \end{tabularx}%
}

% =========================================================
% RODAPÉ DA FOLHA DE ROSTO (MATRIZ DE REVISÃO E AVISOS)
% =========================================================

\newcommand{\RodapeRosto}{%
    \setlength{\parindent}{0pt}%
    \setlength{\extrarowheight}{1pt}%
    \fontsize{6.5}{7.5}\selectfont
    
    \vspace*{-20.8pt}%
    \hspace*{-5mm}%
    \begin{tabularx}{\FrameWidth}{|c|C|C|C|C|C|C|C|C|C|}
        \hline
        & \textbf{REV. 0} & \textbf{REV. A} & \textbf{REV. B} & \textbf{REV. C} & \textbf{REV. D} & \textbf{REV. E} & \textbf{REV. F} & \textbf{REV. G} & \textbf{REV. H}
        \tabularnewline \hline

        \textbf{DATA} & \DocData & & & & & & & &
        \tabularnewline \hline

        \textbf{PROJETO} & \DocProjeto & & & & & & & &
        \tabularnewline \hline

        \textbf{EXECUÇÃO} & \DocExecucao & & & & & & & &
        \tabularnewline \hline

        \textbf{VERIFICAÇÃO} & \DocVerificacao & & & & & & & &
        \tabularnewline \hline

        \textbf{APROVAÇÃO} & \DocAprovacao & & & & & & & &
        \tabularnewline \hline
    \end{tabularx}%

    \par\vspace{5pt}%

    \noindent
    \fontsize{6.5}{7.5}\selectfont
    \textcolor{orange}{%
        \textbf{AS INFORMAÇÕES NESTE DOCUMENTO SÃO PROPRIEDADE DO SENAI CETIQT E NÃO PODEM SER USADAS PARA QUALQUER FINALIDADE ALÉM DA FINALIDADE PREVISTA. FORMULÁRIO PERTENCENTE AO SENAI CETIQT.}%
    }%
}

% =========================================================
% RODAPÉ DAS PÁGINAS SUBSEQUENTES
% =========================================================

\newcommand{\RodapeConteudo}{%
    \vspace*{20pt}%
    \setlength{\parindent}{0pt}%
    \noindent
    \fontsize{6.5}{7.5}\selectfont
    \textcolor{orange}{%
        \textbf{AS INFORMAÇÕES NESTE DOCUMENTO SÃO PROPRIEDADE DO SENAI CETIQT E NÃO PODEM SER USADAS PARA QUALQUER FINALIDADE ALÉM DA FINALIDADE PREVISTA. FORMULÁRIO PERTENCENTE AO SENAI CETIQT.}%
    }%
    \par\vspace{10pt}%
}

% =========================================================
% CONFIGURAÇÃO DE ESTILOS DE PÁGINA (FANCYHDR & MOLDURA)
% =========================================================

% Estilo de Página para Conteúdo Subsequente (Página 2 em diante)
\fancypagestyle{memorial}{
    \fancyhf{}
    \renewcommand{\headrulewidth}{0pt}
    \renewcommand{\footrulewidth}{0pt}
    
    \fancyhead[C]{%
        \DesenharMolduraExterna
        \vspace*{-10mm}
        \CabecalhoConteudo
    }
    
    \fancyfoot[C]{%
        \vspace*{-6mm}
        \RodapeConteudo
    }
}

% Estilo de Página para a Folha de Rosto (Página 1)
\fancypagestyle{folhaderosto}{
    \fancyhf{}
    \renewcommand{\headrulewidth}{0pt}
    \renewcommand{\footrulewidth}{0pt}
    
    \fancyhead[C]{%
        \DesenharMolduraExterna
        \vspace*{-10mm}
        \CabecalhoRosto
    }
    
    \fancyfoot[C]{%
        \vspace*{-16mm}
        \RodapeRosto
    }
}

<< preambulo_extra|default("") >>\sloppy
\begin{document}
\pagestyle{memorial}
