\begin{titlepage}\centering
{\large SENAI CETIQT --- Engenharia Química\par}\vspace{1.2cm}
{\Large\bfseries MEMORIAL PRELIMINAR DE CÁLCULO\\[4pt] DIAGRAMA DE BLOCOS DO PROCESSO\par}\vspace{0.6cm}
{\large Módulo de separação trifásica (gás--óleo--água) e tratamento primário de óleo --- FPSO\par}\vspace{1.0cm}
\small\begin{tabular}{lL{9.8cm}}\toprule
Documento & MC-SEN-SEP-COO-001-0 (numeração a confirmar na LI-SEN-SEP-COO-01)\\
Desenho de referência & DE-SEN-SEP-COO-001-0, Rev.~0 (17/04/26)\\
Documentos citados no desenho & TB-SEN-SEP-COO-001-0; RT-SEN-SEP-COO-001-0\\
Fonte de dados de processo & BOT I-ET-3010.2K-1200-941-P4X-001\_C, Tabelas 2.2.2.3 / 2.2.2.4\\
Arquivo de dados & \texttt{design\_cases\_bot.json}\\
SHA-256 do arquivo & \texttt{\scriptsize << dados.sha256 >>}\\
Revisão & 0 --- emissão preliminar\\
Data de geração & << meta['data'] >>\\ \bottomrule\end{tabular}
\vfill
\begin{tabular}{|c|L{7.5cm}|c|c|c|c|}\hline
REV & DESCRIÇÃO & EXEC. & VERIF. & APROV. & DATA\\\hline
0 & Emissão preliminar --- modelo quantitativo preliminar do DB & << meta['execucao'] >> & << meta['verificacao'] >> & << meta['aprovacao'] >> & << meta['data'] >>\\\hline
\end{tabular}
\vspace{0.5cm}
{\footnotesize Todos os valores numéricos deste memorial foram gerados pelo script \texttt{gerar\_memorial.py} a partir do arquivo de dados identificado acima e das premissas da Seção~\ref{sec:premissas}. Nenhum valor de caso foi digitado manualmente.\par}
\end{titlepage}
\tableofcontents\clearpage

