<% with bid='B-002', nome='Bomba de água produzida do desidratador', funcao='retornar a água removida no desidratador à entrada do FWKO (Nota~3 do DB).', sin='C-12', sout='C-13', wk='W_B1', p_suc='P_D1', p_desc='P_rec' %>
<% include '_bomba.tex.j2' %>
<% endwith %>
