<% with bid='B-003', nome='Bomba de água produzida do dessalinizador', funcao='retornar a água do dessalinizador (salmoura diluída) à entrada do FWKO, unindo-se ao reciclo do desidratador.', sin='C-19', sout='C-20', wk='W_B2', p_suc='P_D2', p_desc='P_rec' %>
<% include '_bomba.tex.j2' %>
<% endwith %>
