<% with bid='B-001', nome='Bomba de transferência de óleo', funcao='transferir o óleo tratado do dessalinizador ao pré-aquecedor, resfriador, medição e tanques de carga.', sin='C-21', sout='C-22', wk='W_Bo', p_suc='P_D2', p_desc='P_pump_oil' %>
<% include '_bomba.tex.j2' %>
<% endwith %>
