\begin{thebibliography}{9}
\bibitem{bot} PETROBRAS. \emph{I-ET-3010.2K-1200-941-P4X-001 --- General Technical Description --- BOT}, Rev.~C. FPSO Búzios 12. Tabelas 1.2.2.4, 2.2.1.2, 2.2.2.3, 2.2.2.4, 2.3.5.1, 2.5.2; itens 2.3.1, 2.7.1.
\bibitem{json} \texttt{design\_cases\_bot.json}. Extração estruturada das Tabelas 2.2.2.3 / 2.2.2.4 do BOT. SHA-256 na capa.
\bibitem{db} SENAI CETIQT. \emph{DE-SEN-SEP-COO-001-0 --- Diagrama de Bloco: Separação Trifásica e Tratamento de Óleo}, Rev.~0, 17/04/2026.
\bibitem{sa} STEWART, M.; ARNOLD, K. \emph{Gas-Liquid and Liquid-Liquid Separators}. Burlington: Gulf Professional Publishing, 2008.
\bibitem{standing} STANDING, M. B. A pressure-volume-temperature correlation for mixtures of California oils and gases. \emph{Drilling and Production Practice}, API, 1947.
\bibitem{poling} POLING, B. E.; PRAUSNITZ, J. M.; O'CONNELL, J. P. \emph{The Properties of Gases and Liquids}. 5. ed. New York: McGraw-Hill, 2001.
\end{thebibliography}

